.header-wrapper {
    width: 100%;
    height: 100%;
}

.title-main {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;

    .title-container {
        margin: auto;
        width: 55em;
        text-align: center;
        padding: 18% 0;

        .title {
            @extend h3;
            font-size: 8.333333em;
        }

        hr {
            width: 40%;
        }

        .title-detail {
            line-height: 200%;
            font-size: 2em;
            font-family: $bGRegularItalic;
        }
    }
}
