/* Navbar Section ----------------------*/
header {
    height: 5.888888em;
    width: 100%;
    position: absolute;

    .ui-nav-dropdown {
        margin: 3.75em;
        float: left;

    }

    .ui-logo {
        float: left;
        margin-top: 3em;
    }

    .login {
        float: right;
        margin-top: 4em;
        width: 36em;

        li {
            text-transform: uppercase;
            font-size: 1.666666em;
            display: inline-block;
            margin-right: 15%;
        }

        li:last-child {
            margin-right: 5em;
        }
    }
}
