/* Header Section ----------------------*/
header {
    height: 5.888888em;
    width: 100%;
    position: absolute;

    .ui-nav-dropdown {
        margin: 3.75em;
        float: left;

    }

    .ui-logo {
        float: left;
        margin-top: 3em;
    }

    .login {
        float: right;
        margin-top: 4em;
        width: 36em;

        li {
            text-transform: uppercase;
            font-size: 1.666666em;
            display: inline-block;
            margin-right: 15%;
        }

        li:last-child {
            margin-right: 5em;
        }
    }
}

/* CAROUSEL STYLING----------------------- */
.product-carousel {
    background-image: url('/static/img/folio-ipadmini-1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 85.666666em;
}
.product-info {
    float: left;
    margin: 12% 0 0 12%;


    .info-details {
        width: 22em;
    }

    .info-list {
        width: 22em;
        font-family: $bGRegularItalic;
        font-size: 1.5em;
        text-indent: -2.2em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .devices {
        width: 22em;

        span {
            display: block;
        }
    }
}

.purchase-area {
    float: right;
    margin: 15% 8% 0 0;
    min-width: 29em;

    p {
        font-family: $bGRegular;
    }

    .colors {
        @include clearfix;

        li {
            display: block;
            float: left;
            margin-right: 0.8em;
            border-radius: 50%;
            padding: .083333em;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid white;
            }
        }

        .active-color {
            border: 1px solid white;
        }
    }

    .sku {
        display: none;
    }

    .active-sku {
        display: block;
    }

    .stock {
        display: none;
    }

    .stock-active {
        display: block;
        font-size: 1.333333em;

        span {
            display: block;
            margin-bottom: 1em;
            text-transform: uppercase;
        }
    }

    .personalize, .quantity {
            display: inline-block;
            margin-right: 2em;

        p {
            font-family: $bGMedium;
            margin-bottom: .2em;
        }
    }

    .quantity {
        vertical-align: top;

        .amount {
            width: 5.5em;
            height: 3.5em;
            text-align: center;
        }
    }

    .price {
        font-size: 4em;
        margin: 0.5em 0;
    }

    .addcart {
        margin-bottom: 2em;
    }

    .share {

        li {
            float: left;
            margin-right: 0.5em;
            @include transition-property (transform);
            @include transition-duration(0.5s);
            @include transition-timing-function(ease-in);
            @include transition-delay(none);

            &:hover {
                @include transform(rotate(360deg));

            }
        }
    }
}

.thumbs {
    clear: both;
    margin: 0 auto;
    text-align: center;

    li {
        display: inline-block;
        margin: 1%;
        width: 8.666666em;
        height: 8.666666em;

        &:hover {
            background-color: #9c9b96;
        }

        span {
            display: block;
            margin: 2em auto;
        }
    }

    .active-thumb {
        background-color: #9c9b96;
    }
}


/* Video and Media Section ------------*/
.product-video {
    @extend .embed-container;
}

.picture-box {
    width: 100%;

    img {
        max-width: 100%;
    }
}


/* Feature Section ------------------- */
.features {
    @include clearfix;
}

.feature-select {
    margin: auto;
    text-align: center;


    li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.666666em;
        font-family: $bGRegular;
        margin: 3%;
    }

    .active-feature {
        font-family: $bGBold;
        font-weight: bold;
    }
}

.feature {
    display: none;
    width: 100%;



    .feature-img {
        width: 40%;
        margin-left: 10%;
        float: left;

        img {
         max-width: 100%;
        }
    }

    .feature-data {
        float: right;
        width: 35%;
        margin: 5% 10% 0 0;
    }
}

.active-feature {
    display: block;

}






